/* p,
h2,
h3 {
  margin: 0;
} */

.homepage {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.home-header {
  margin-bottom: 40px;
}

.header-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-title {
  padding-left: 18px;
  text-decoration: none;
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: 35px;
  color: #f65858;
}

.user {
  display: flex;
  align-items: center;
  height: 42px;
  margin-left: 16px;
}

.login-link,
.signup-link {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
}

.homepage-main {
  display: flex;
  flex-direction: column;
}
