/* .group-session {
  border: 1px solid black;
  margin-top: 40px;
  padding-left: 10px;
} */
p,
h2,
h3 {
  margin: 0;
}

.all-events-body {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.all-events {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 16px;
}

.one-event {
  margin-top: 20px;
  border-bottom: 1px solid rgb(202, 197, 197);
}

.one-event-link {
  display: grid;
  height: 180px;
  width: 500px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "pic details";
  text-decoration: none;
  color: rgb(94, 92, 92);
}

.event-imgage {
  grid-area: pic;
}

.one-event-detail {
  display: flex;
  flex-direction: column;
  grid-area: details;
}

.event-img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
}

.event-date {
  margin: 5px 5px 0px 5px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(143, 110, 49);
}

.event-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: black;
  margin: 5px;
}

.event-group {
  margin: 5px;
  font-size: 14px;
}

.event-location {
  margin: 0 5px 15px 5px;
  font-size: 14px;
  font-weight: 500;
  /* color: rgb(171, 120, 27); */
}

.event-attendees {
  font-size: 14px;
  margin-left: 5px;
  margin-top: auto;
}

.event-type {
  font-size: 14px;
  margin: 0px 5px 15px 5px;
  margin-top: auto;
}

/* .event-about {
  font-size: 15px;
  margin: 0 5px 15px 5px;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
} */
