@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

ul {
  list-style: none;
}

html {
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif; /* margin: 0px 20px; */
}

.header {
  /* margin: 20px 10px; */
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(202, 197, 197);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 65px;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  height: 42px;
  align-items: center;
}

.header-search-bar {
  padding: 8px 8px 8px 16px;
  border-radius: 10px;
}

.home {
  /* margin-left: 10px; */
  padding-left: 24px;
  text-decoration: none;
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: 30px;
  color: #f65858;
}

.user {
  display: flex;
  align-items: center;
  height: 42px;
}

.login-link,
.signup-link {
  margin: 0px 0px 0px 20px;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
}
/* .nav-link {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(52, 50, 50);
  margin: 10px 10px;
} */

.event-groups-content {
  padding: 0px 16px;
  margin: 0 0 64px;
  /* border-bottom: 1px solid rgb(202, 197, 197); */
}
.events-groups {
  display: flex;
  /* margin-top: 40px; */
  /* margin-bottom: 20px; */
  /* padding-bottom: 0 16px; */
  padding: 12px 0px 6px;
}

.group-link,
.event-link {
  font-size: 20px;
  color: #757575;
  font-weight: 500;
  text-decoration: none;
  margin: 0 16px 0 0;
}

.group-link:focus,
.event-link:focus {
  padding-bottom: 5px;
  color: #008294;
  border-bottom: 4px solid #008294;
}

/* img {
  width: 150px;
  height: 120px;
} */
